{ % extends base.html %}

<!DOCTYPE html>
<html>
<head>
    <title>Teacher Dashboard</title>
    <style>
        body { font-family: Arial; background: #eef2f3; }
        .box {
            width: 60%;
            margin: 100px auto;
            background: white;
            padding: 30px;
            border-radius: 8px;
            text-align: center;
        }
        a { color: red; text-decoration: none; }
    </style>
</head>
<body>

<div class="box">
    <h1>👨‍🏫 Teacher Dashboard</h1>
    <p>Welcome, <b>{{ request.user.username }}</b></p>
    <p>User Type: {{ request.user.user_type }}</p>

    <hr>

    <p>Here you can:</p>
    <ul style="list-style: none;">
        
        <li><a href="mark_attendance/">
            📋 Mark attendance
        </a></li>
        <li><a href="">📚 Manage courses</a></li>
        <li><a href="">📊 Upload results</a></li>
    </ul>

    <br>
    <a href="{% url 'logout' %}">Logout</a>
</div>

</body>
</html>
